.AuthPage {
  height: 100%;
  display: block;
  justify-content: space-evenly;
  align-items: center;
}

.h3 {
  text-align: right;
  color: black;
  cursor: pointer;
  display: block;
  font-size: 1.17em;

}