.AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.h3 {
  text-align: right;
  color: red;
  cursor: pointer;
  display: flex;
  font-size: 1.17em;
}

