AuthPage {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: black;

  }
  
  .AuthPage h3 {
    text-align: left;
    color: rgb(80, 12, 80);
    cursor: pointer;
  }