:root {
    --white: #FFFFFF;
    --tan-1: #FBF9F6;
    --tan-2: #E7E2DD;
    --tan-3: #E2D9D1;
    --tan-4: #D3C1AE;
    --purple: #5c065c;
    --text-light: #f0dd70;
    --text-dark: #aeae07;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(6, 40, 126);
    padding: 2vmin;
    height: 100vh;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #root {
    height: 100%;
  }

  .align-ctr {
    text-align: center;
  }

  .align-rt {
    text-align: right;
  }

  .smaller {
    font-size: smaller;
  }

  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-j-end {
    justify-content: flex-end;
  }

  .scroll-y {
    overflow-y: scroll;
  }

  .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--purple);
    color: whitesmoke;
    border: .1vmin solid whitesmoke;
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }

  p.error-message {
    color: red;
    text-align: center;
  }

  form {
    display: box;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: whitesmoke;
  }

  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }

  input {
    padding: 1vmin;
    font-size: 2vmin;
    border: .1vmin solid whitesmoke;
    border-radius: .5vmin;
    color: whitesmoke;
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }

  input:focus {
    border-color: whitesmoke;
  }

  button, a.button {
    margin: 1vmin;
    padding: 1vmin;
    color: whitesmoke;
    background-color: var(--purple);
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid whitesmoke;
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }

  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }

  button.btn-xs {
    font-size: 1vmin;
    padding: .4vmin .5vmin;
  }

  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: red;
  }

  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }