:root {
    --blue-1: #bee0ec;
    --blue-2: #3ba1c5;
    --blue-3: #1a6985;
    --blue-4: #0e24d0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    display: grid;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(white, lightgrey, rgb(228, 228, 153));
    padding: 2vmin;
    height: 100%;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #root {
    height: 100%;
  }

  .align-ctr {
    text-align: center;
  }

  .align-rt {
    text-align: right;
  }

  .smaller {
    font-size: smaller;
  }

  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-j-end {
    justify-content: flex-end;
  }

  .scroll-y {
    overflow-y: scroll;
  }

  .section-heading {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan-4);
    color: white;
    border: .1vmin solid var(--tan-4);
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }

  .form-container {
    padding: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }

  p.error-message {
    color: red;
    text-align: center;
  }

  form {
    display: block;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--text-light);
  }

  label {
    font-size: 2vmin;
    display: block;
    align-items: center;
  }

  input {
    padding: 1vmin;
    font-size: 2vmin;
    border: .1vmin solid black;
    border-radius: .5vmin;
    color: black;
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }

  input:focus {
    border-color: var(--orange);
  }

  button, a.button {
    margin: 1vmin;
    padding: 1vmin;
    color: green;
    background-color: var(--orange);
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid green;
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }

  button, a.button:hover{
    color: white;
    background-color: green;
  }

  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }

  button.btn-sm:hover{
    color: white;
    background-color: green;
  }

  button.btn-xs {
    font-size: 1vmin;
    padding: .4vmin .5vmin;
    color: none;
  }

  button.btn-sm:hover {
    color: white;
    background-color: green
  }

  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    color: whitesmoke;
    background-color: green;
  }

  button:disabled, form:invalid button[type="submit"]:hover {
    color: white;
    background-color: green
  }

  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }

  button[type="submit"]:hover {
    color: white;
    background-color: green
  }