.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tan-1);
    border: .1vmin solid green;
    border-radius: 2vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    overflow-y: scroll;
    }
    
    .OrderList .noOrders {
    color: black;
    font-size: 2vmin;
    position: absolute;
    top: calc(50vh);
    border: .1vmin solid green;
    }