.UserLogOut {
    font-size: 1.5vmin;
    color: rgb(5, 5, 111);
    text-align: center;
    }
    
    .UserLogOut .email {
      font-size: smaller;
    }

    .UserLogOut .btn-sm {
      background-color: white;
      color:rgb(5, 5, 111)
    }