.OrderListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: black;
    background-color: none;
    border: .2vmin solid green;
    border-radius: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
    }
    
    .OrderListItem > div> div:first-child {
    margin-bottom: .5vmin;
    }
    
    .OrderListItem.selected {
    border-color: green;
    border-width: .2vmin;
    cursor: default;
    }
    
    .OrderListItem:not(.selected):hover {
    border-color: green;
    border-width: .2vmin;
    font-size: 15px;
    }