.logInBtn {
    color: rgb(10, 10, 126);
    background-color: whitesmoke;
    border-color: rgb(10, 10, 126);
    
}

.logInBtn :hover {
    background-color: rgb(10, 10, 126);
    color: whitesmoke;
}