Logo {   
    font-family: 'Times New Roman', Times, serif;
}

.Logo2 {   
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: green;
    font-size: 80px;
    font-style: italic;
    column-span: all;
}

.Logo3 {
    text-decoration: underline;
    color: black;
    align-items: center;
    text-align: center;;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 18px;

}