Logo {   
    font-family: 'Times New Roman', Times, serif;
}

.Logo2 {
    text-decoration: underline;
    color: black;
    align-items: center;
    text-align: center;;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 18px;

}