.Logo2 {
height: 7vmin;
width: 42vmin;
display: flex;
border-radius: 15%;
justify-content: center;
align-items: center;
background-color: black;
color: rgb(200, 255, 0);
font-size: 4.8vmin;
font-family: apple Chancery;
text-align: center;
}

.Logo3 {
    color: black;
    font-family: apple Chancery;
    text-align: left;
}

.Soup {
    height: 20vmin;
    width: 20vmin;
    box-shadow: 50px;
    
}