.OrderDetail {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1vmin;
  font-size: 2vmin;
  color: black;
}

.OrderDetail .sectionHeading {
  width: 100%
}

.OrderDetail .lineItemContainer {
  margin-top: 3vmin;
  justify-content: flex-start;
  height: calc(100vh - 18vmin);
  width: 100%;
}

.OrderDetail .total {
  width: 100%;
  display: grid;
  grid-template-columns: 18.35vw 5.75vw 5.25vw;
  padding: 1vmin 0;
  color: black;
  border-top: .1vmin solid black;
}

.OrderDetail .total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: black;
}

.OrderDetail .total span.right {
  display: flex;
  justify-content: flex-end;
}

.OrderDetail .hungry {
  position: flex;
  top: 40vh;
}
