.MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vmin;
  padding: 2vmin;
  border: .1vmin solid green;
  border-radius: 1vmin;
  font-size: 1vmin;
}

.MenuListItem .emoji {
  height: 5vw;
  width: 5vw;
  font-size: 4vw;
  border-radius: 1vmin;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
}

.MenuListItem .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: black;
}

.MenuListItem .name {
  font-size: 20px;
  text-align: center;
  color: black;
}