.CategoryList {
    color: rgb(5, 5, 111);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: white;
    color: rgb(5, 5, 111)
    }
    
    .CategoryList li.active {
    color: rgb(5, 5, 111);
    background-color: rgb(5, 5, 111);
    border: .1vmin solid var(--tan-3);
    }