.CategoryList {
    color: black;
    list-style: none;
    border: 1px solid green;
    padding: 0;
    font-size: 1.0vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: green;
    color: white;
    font-siz: 1.3vw
    }
    
    .CategoryList li.active {
    color: white;
    background-color: green;
    border: .1vmin solid green;
    font-size: 1.3vw;
    }